<div class="header d-flex">
    <div style="margin-top: 10px;"><img class="logo" src="../../assets/img/logo.png"></div>
    <div class="ml-auto py-5">
        <ul class="nav">
            <!-- <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li> -->
            <li class="nav-item">
                <a class="nav-link theme-font" href="#" routerLink="/signup">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link theme-font" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link theme-font" href="#" (click)="onSignout()">Sign Out</a>
            </li>
        </ul>
    </div>
</div>