.page {
    min-height: 100%;
    position: relative;
}
.header {
    /* background: #f7f2eb; */
    background: #ff9d48;
    /* background: #f5f3f1; */
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 120px;
}
.content {
    padding: 10px;
    padding-bottom: 45px; /* Height+padding(top and botton) of the footer */
    text-align: justify;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px; /* Height of the footer */
    background: #f5f3f1;
    padding: 10px 0; /*paddingtop+bottom 20*/
}

.content {
    height: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.logo {
    height: 105px;
    width: 105px;
}
