* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
 
}
body {
    height: 100vh;
}

h1 {
    font-size: 42px;
    margin-top: 1vw;
    border-left: 1px solid #FF9D48;
    color: #FF9D48;
    padding-left: 12px;
    font-weight: 800;
}

hr {
    background-color: white;
    border: none;
    height: 1px;
    margin: 12px;
}

#title-container {
    display: flex;
    flex-flow: row;
}

#title-left {
    flex: 2;
}

#title-right {
flex: 1;
}


#main-container {
margin-top: 1vw;
 display: flex;
 flex-flow: row;
}




#large-recipe-container {
   display: flex;
   flex-flow: row;
   flex: 2;
}


#large-recipe-section {
flex: 1;
border-right: 6px solid white;
}

#large-recipe-section a {
    flex: 1;
    text-decoration: none;
    }
    

.random-meals {
  
    border-radius: 1vw;
    display: flex;
    flex: 1;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    justify-content: center;
}

.random-meals article {
    align-self: flex-end;
}

.random-meals h2 {
    font-family: 'Satisfy', cursive;
    font-size: 42px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px rgb(0 0 0);
}

.random-meals h3 {
    font-size: 21px;
    color: white;
    text-align: start;
    margin: 0 0 6px 6px;
}



/* #large-recipe-section img {
    height: 100%;
    width: 33%;
} */

#mealplan-container {
    display: flex;
    flex-flow: column;
    flex: 1;
}

#mealplan-section {
    background-color: #FF9D48;
    color: white;
    font-size: 21px;
    border-radius: 1vw;
    padding: .5vw 2vw 
}

.radio {
    font-size: 21px;
    color: white;
    background-color: #FF9D48;
    border: 2px solid white;
    border-radius: 2vw;
    padding: .5vw 2vw 
}


.active {
    background-color: #ffffff;
    color: #FF9D48;
}



.calorie-input {
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

.diet-col {
    display: flex;
    flex-flow: column;
}

.diet-dropdown {
    font-size: 41px;
    font-weight: 800;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    color: white;
}

.diet-dropdown option {
    color: black;
}

.diet-sub {
    margin: auto;
}

.allergen-input {
    font-size: 21px;
    text-decoration: none;
    padding: .5vw 4vw .5vw .5vw;
    border: 2px solid #FF9D48;
    background-color: white;
    border-radius: 1vw;
    transition: all 1s ease;
    flex: 1;
}

.target-calorie-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.target-calorie-row input {
    font-size: 42px;
    font-weight: 800;
    width: 30%;
}

.target-calorie-row p {
    flex: 1 0 0;
}

#mealplan-section button {
    font-size: 21px;
}

.generate-row {
    display: flex;
    flex-flow: row;
    margin-top: 1vw;
}

.generate-button {
    flex: 1;
    font-size: 42px;
    color: #ffffff;
    background-color: #FF9D48;
    border: 2px solid #FF9D48;
    border-radius: 2vw;
    padding: .5vw 2vw;
    transition: all 1s ease;
}

button:disabled {
    color: #FF9D48;
    background-color: #ffffff;
    border: 2px solid #FF9D48;
    transition: all 1s ease;
}

