<div id="title-container">
  <section id="title-left">
    <h1>Try These Recipes. Be Inspired.</h1>
  </section>
  <section id="title-right">
    <h1>Meal-Planning</h1>
  </section>
</div>

<div id="main-container">
  <div id="large-recipe-container">
    <main id="large-recipe-section" *ngFor="let randomMeal of randomMeals">
      <section
        class="random-meals"
        [style.backgroundImage]="
          'url(' +
          randomMeal.image +
          '), linear-gradient(rgba(0,0,0,0),rgba(50,50,50,1))'
        "
      >
        <aside class="heart-container">
          <button (click)="getLike()" class="heart-button">
            <img class="heart-img" src="/assets/img/heart.svg" alt="" />
          </button>
        </aside>
        <article>
          <a [href]="randomMeal.spoonacularSourceUrl">
            <h2>{{ randomMeal.title }}</h2>
          </a>
          <h3>{{ randomMeal.servings }} serving(s)</h3>
        </article>
      </section>
    </main>
  </div>

  <div id="mealplan-container">
    <main id="mealplan-section">
      <section>
        <article class="planning-row">
          <p>
            Planning for a
            <button
              [class.active]="timeFrame === 'day'"
              class="radio"
              (click)="setTimeFrame($event.target)"
            >
              day
            </button>
            or a
            <button
              [class.active]="timeFrame === 'week'"
              class="radio"
              (click)="setTimeFrame($event.target)"
            >
              week
            </button>
            ?
          </p>
        </article>
        <hr />
        <article class="target-calorie-row">
          <input
            [(ngModel)]="calorieGoal"
            class="calorie-input"
            type="numbers"
            placeholder=""
          />
          <p>is my target calorie goal</p>
        </article>
        <hr />
        <article class="diet-col">
          <select
            [(ngModel)]="dietPlan"
            class="diet-dropdown"
            name=""
            id="diet-plan"
          >
            <option value="vegetarian">Vegetarian</option>
            <option value="vegetarian">Vegetarian</option>
          </select>
          <p class="diet-sub">is my diet type</p>
          <p>and my allergens include:</p>
          <input
            [(ngModel)]="allergens"
            class="allergen-input"
            type="text"
            placeholder="Enter allergens separated by a comma"
          />
        </article>
      </section>
    </main>
    <section class="generate-row">
      <button
        type="submit"
        [disabled]="!calorieGoal || !timeFrame || !dietPlan"
        (click)="getMealPlan()"
        class="generate-button"
      >
        Generate Meal Plan
      </button>
    </section>
  </div>
</div>

<div *ngIf="isMealPlan; else none" id="meal-container">
  <div id="overlay-background"></div>
  <div id="generated-mealplan-bordering">
    <div id="title-container">
      <section id="title-left">
        <h1>Your Generated Mealplan</h1>
      </section>
      <section id="title-right">
        <h1 (click)="closeMealPlan()" id="close">x</h1>
      </section>
    </div>

    <div id="generated-mealplan-container">
      <main
        id="generated-mealplan-section"
        *ngFor="let planInfo of mealPlanInfo"
      >
        <section
          class="random-meals"
          [style.backgroundImage]="
            'url(' +
            planInfo.image +
            '), linear-gradient(rgba(0,0,0,0),rgba(50,50,50,1))'
          "
        >
          <aside class="heart-container">
            <button (click)="getLike()" class="heart-button">
              <img class="heart-img" src="/assets/img/heart.svg" alt="" />
            </button>
          </aside>
          <article>
            <a [href]="planInfo.spoonacularSourceUrl">
              <h2>{{ planInfo.title }}</h2>
            </a>
            <h3>{{ planInfo.servings }} serving(s)</h3>
          </article>
        </section>
      </main>
    </div>

    <div id="title-container">
      <section class="mealplan-subtitle">
        <h1>Breakfast</h1>
      </section>
      <section class="mealplan-subtitle">
        <h1>Lunch</h1>
      </section>
      <section class="mealplan-subtitle">
        <h1>Dinner</h1>
      </section>
    </div>

    <!-- <main>
      test
      <h1 *ngFor="let info of mealPlanInfo">
        {{ info.aggregateLikes }}
      </h1>
    </main> -->
  </div>

  <div id="mealplan-nutrients">
    <section>
      <p>{{ mealPlanNutrients.calories }} calories</p>
      <p>{{ mealPlanNutrients.carbohydrates }} carbs</p>
      <p>{{ mealPlanNutrients.fat }} fat</p>
      <p>{{ mealPlanNutrients.protein }} protein</p>
    </section>

    <section></section>
  </div>
</div>
<ng-template #none>
  Please generate meal plan
</ng-template>
