<div id="title-container">
  <section id="title-left">
    <h1>Try These Recipes. Be Inspired.</h1>
  </section>
  <section id="title-right">
    <h1>Meal-Planning</h1>
  </section>
</div>

<div id="main-container">
  <div id="large-recipe-container">
    <main id="large-recipe-section" *ngFor="let randomMeal of randomMeals">
      <a [href]="randomMeal.spoonacularSourceUrl">
        <section
          class="random-meals"
          [style.backgroundImage]="
            'url(' +
            randomMeal.image +
            '), linear-gradient(rgba(0,0,0,0),rgba(50,50,50,1))'
          "
        >
          <article>
            <h2>{{ randomMeal.title }}</h2>

            <h3>{{ randomMeal.servings }} serving(s)</h3>
          </article>
        </section>
      </a>
    </main>
  </div>

  <div id="mealplan-container">
    <main id="mealplan-section">
      <section>
        <article class="planning-row">
          <p>
            Planning for a
            <button
              [class.active]="timeFrame === 'day'"
              class="radio"
              (click)="setTimeFrame($event.target)"
            >
              day
            </button>
            or a
            <button
              [class.active]="timeFrame === 'week'"
              class="radio"
              (click)="setTimeFrame($event.target)"
            >
              week
            </button>
            ?
          </p>
        </article>
        <hr />
        <article class="target-calorie-row">
          <input
            [(ngModel)]="calorieGoal"
            class="calorie-input"
            type="numbers"
            placeholder=""
          />
          <p>is my target calorie goal</p>
        </article>
        <hr />
        <article class="diet-col">
          <select
            [(ngModel)]="dietPlan"
            class="diet-dropdown"
            name=""
            id="diet-plan"
          >
            <option value="vegetarian">Vegetarian</option>
            <option value="vegetarian">Vegetarian</option>
          </select>
          <p class="diet-sub">is my diet type</p>
          <p>and my allergens include:</p>
          <input
            [(ngModel)]="allergens"
            class="allergen-input"
            type="text"
            placeholder="Enter allergens separated by a comma"
          />
        </article>
      </section>
    </main>
    <section class="generate-row">
      <button
        type="submit"
        [disabled]="!calorieGoal || !timeFrame || !dietPlan"
        (click)="getMealPlan()"
        class="generate-button"
      >
        Generate Meal Plan
      </button>
    </section>
  </div>
</div>
