<div>
  <main id="large-recipe-section"></main>

  <h1>Meal-Planning (testing)</h1>
  <main id="mealplan-section">
    <section>
      <article class="planning-row">
        <p>
          Planning for a
          <button>day</button>
          or a
          <button>week</button>
          ?
        </p>
      </article>
      <hr />
      <article class="target-calorie-row">
        <input class="calorie-input" type="numbers" placeholder="" />
        <p>is my target calorie goal</p>
      </article>
      <hr />
      <article class="diet-col">
        <select class="diet-dropdown" name="" id="">
          <option value="vegetarian">Vegetarian</option>
          <option value="vegetarian">Vegetarian</option>
        </select>
        <p class="diet-sub">is my diet type</p>
        <p>and my allergens include:</p>
        <input
          class="allergen-input"
          type="text"
          placeholder="Enter allergens separated by a comma"
        />
      </article>
    </section>
  </main>
  <section class="generate-row">
    <button class="generate-button">Generate Meal Plan</button>
  </section>
</div>
