<main id="nav-section">
  <section>
    <input [(ngModel)]="searchIngredients" class="search-input" type="text"
      placeholder="Search by Ingredient, separate by comma" />
  </section>
  <div>
    <ul>
      <li>
        <button (click)="searchRecipe()" id="search-button">
          Search
        </button>
        <button (click)="onSignout()">Signout</button>
      <li>
        <button class="query-button">
          <img src="./assets/img/filledHeart.svg" alt="" />
        </button>
      </li>
    </ul>
  </div>
</main>

<div>
  <div>
    <main class="like-container" *ngFor="let recipe of recipeList; let i = index">
      <!-- <a [href]="recipeLinks[i]">
        <section
          class="search-meals"
          [style.backgroundImage]="
            'url(' +
            recipe.image +
            '), linear-gradient(rgba(0,0,0,0),rgba(50,50,50,1))'
          "
        ></section>
      </a>
      <article class="recipe-sub">
        <h2>{{ recipe.title }}</h2>
      </article> -->

      <article>
        <a [href]="recipeLinks[i]">
          <img class="recipe-img" [src]="recipe.image" alt="" />
        </a>
        <aside>
          <div>
            <h2>{{ recipe.title.substring(0, 21) }}...</h2>
            <img (click)="getLike(recipe)" class="filled-heart" src="./assets/img/filledHeart.svg" alt="" />
          </div>
          <h2>{{ recipe.servings }} servings</h2>
        </aside>
      </article>
    </main>
  </div>
</div>
<app-mealplan></app-mealplan>

<div>
  <main id="like-inner-container">
    <section class="like-container" *ngFor="let like of userLikes">
      <article>
        <a [href]="like.spoonurl">
          <img class="recipe-img" [src]="like.image" alt="" />
        </a>
        <aside>
          <div>
            <h2>{{ like.title.substring(0, 21) }}...</h2>
            <img (click)="dislike(like)" class="filled-heart" src="./assets/img/filledHeart.svg" alt="" />
          </div>
          <h2>{{ like.servings }} servings</h2>
        </aside>
      </article>
    </section>
  </main>
</div>