<main id="nav-section">
  <section>
    <input
      [(ngModel)]="searchIngredients"
      class="search-input"
      type="text"
      placeholder="Search by Ingredient, separate by comma"
    />
  </section>
  <div>
    <ul>
      <li>
        <button (click)="searchRecipe()" id="search-button">
          Search
        </button>
      </li>
      <li>
        <button
          [class.active]="searchQuery === 'Breakfast'"
          (click)="setQuery($event.target)"
          class="query-button"
        >
          Breakfast
        </button>
      </li>
      <li>
        <button
          [class.active]="searchQuery === 'Lunch'"
          (click)="setQuery($event.target)"
          class="query-button"
        >
          Lunch
        </button>
      </li>
      <li>
        <button
          [class.active]="searchQuery === 'Dinner'"
          (click)="setQuery($event.target)"
          class="query-button"
        >
          Dinner
        </button>
      </li>
    </ul>
  </div>
</main>

<div id="main-container">
  <div id="large-recipe-container">
    <main
      id="large-recipe-section"
      *ngFor="let recipe of recipeList; let i = index"
    >
      <a [href]="recipeLinks[i]">
        <section
          class="search-meals"
          [style.backgroundImage]="
            'url(' +
            recipe.image +
            '), linear-gradient(rgba(0,0,0,0),rgba(50,50,50,1))'
          "
        ></section>
      </a>
      <article class="recipe-sub">
        <h2>{{ recipe.title }}</h2>
        <!-- <h3>{{ recipe.missedIngredients }}</h3> -->
      </article>
    </main>
  </div>
</div>
