<main id="nav-section">
  <section>
    <input
      [(ngModel)]="searchIngredients"
      class="search-input"
      type="text"
      placeholder="Search by Ingredient, separate by comma"
    />
  </section>
  <div>
    <ul>
      <li>
        <button (click)="searchRecipe()" id="search-button">
          Search
        </button>
      </li>
      <li>
        <button
          *ngIf="isClicked; else homeButton"
          (click)="showLikes()"
          class="query-button"
        >
          <img src="./assets/img/filledHeart.svg" alt="" />
        </button>
        <ng-template #homeButton>
          <button (click)="showHome()" class="query-button">
            Home
          </button>
        </ng-template>
      </li>
    </ul>
  </div>
</main>

<div>
  <div>
    <main
      class="like-container"
      *ngFor="let recipe of recipeList; let i = index"
    >
      <article>
        <a [href]="recipeLinks[i]">
          <img class="recipe-img" [src]="recipe.image" alt="" />
        </a>
        <aside>
          <div>
            <h2>{{ recipe.title.substring(0, 21) }}...</h2>
            <img
              *ngIf="userTitleLikes.includes(recipe.title); else dislikeBlock"
              (click)="dislike(recipe)"
              class="filled-heart"
              src="./assets/img/filledHeart.svg"
              alt=""
            />

            <ng-template #dislikeBlock>
              <img
                (click)="getLike(recipe)"
                class="filled-heart"
                src="./assets/img/heart.svg"
                alt=""
              />
            </ng-template>
            <!-- <img
              (click)="getLike(recipe)"
              class="filled-heart"
              src="./assets/img/filledHeart.svg"
              alt=""
            /> -->
          </div>
          <h2>{{ recipe.servings }} servings</h2>
        </aside>
      </article>
    </main>
  </div>
</div>
<ng-template #showDash>
  <app-mealplan></app-mealplan>
</ng-template>

<div *ngIf="isLikes; else showDash">
  <main id="like-inner-container">
    <section class="like-container" *ngFor="let like of userLikes">
      <article>
        <a [href]="like.spoonurl">
          <img class="recipe-img" [src]="like.image" alt="" />
        </a>
        <aside>
          <div>
            <h2>{{ like.title.substring(0, 21) }}...</h2>
            <img
              (click)="dislike(like)"
              class="filled-heart"
              src="./assets/img/filledHeart.svg"
              alt=""
            />
          </div>
          <h2>{{ like.servings }} servings</h2>
        </aside>
      </article>
    </section>
  </main>
</div>
