* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    color: #888888;
}

/* *** */
/* Nav CSS */
/* Nav Search button styling */
#nav-section {
    display: flex;
    flex-direction: row;
}

.search-input {
    font-size: 21px;
    text-decoration: none;
    padding: .5vw 4vw .5vw .5vw;
    border: 2px solid #FF9D48;
    border-radius: 1vw 0 0 1vw;
    transition: all 1s ease;
    width: 40vw;
}

.search-input:focus {
    transition: all 1s ease;
    outline: none;
    border: 2px solid #FF6E50;
}

/* Nav filter button styling */
#nav-section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.query-button {
    font-size: 21px;
    color: #FF9D48;
    background-color: #ffffff;
    border: 2px solid #FF9D48;
    border-radius: 1vw;
    padding: .5vw 2vw;
    margin: 0 2vw;
}

#search-button {
    font-size: 21px;
    color: #FF9D48;
    background-color: #ffffff;
    border: 2px solid #FF9D48;

    border-radius: 0vw 1vw 1vw 0vw;
    padding: .5vw 2vw; 
    margin-right: 2vw;
}

.active {
    
    color: white;
    background-color: #FF9D48;
    border: 2px solid #FF9D48;
    
}
/* End of Nav CSS */
/* *** */


#main-container {
    margin-top: 1vw;
     display: flex;
     flex-flow: row;
    }

#large-recipe-container {
    column-count: 3;
    margin: auto;
 }

 #large-recipe-section {
    flex: 1;
    border-right: 6px solid white;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
    
#large-recipe-section a {
    flex: 1;
    text-decoration: none;
}
        

.search-meals {
   height: 10vw;
    display: flex;
    flex: 1;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-sub {
    margin: 0 1vw;
    background-color: #FF9D48;
}

.recipe-sub h2 {
    color: white;
    
    margin-left: 1vw;
    padding: 1vw 0;
}
        
.search-recipe-title {
    
}