* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    color: #C2C2C2;
}

/* *** */
/* Nav CSS */
/* Nav Search button styling */
#nav-section {
    display: flex;
    flex-direction: row;
}

.search-input {
    font-size: 21px;
    text-decoration: none;
    padding: .5vw 4vw .5vw .5vw;
    border: 2px solid #FF9D48;
    border-radius: 1vw;
    transition: all 1s ease;
}

.search-input:focus {
    transition: all 1s ease;
    outline: none;
    border: 2px solid #FF6E50;
}

/* Nav filter button styling */
#nav-section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#nav-section button {
    font-size: 21px;
    color: white;
    background-color: #FF9D48;
    border: 2px solid #FF9D48;
    border-radius: 1vw;
    padding: .5vw 2vw 
}
/* End of Nav CSS */
/* *** */